<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<body>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1 th:text="'List of Vets'"></h1>
</head>
    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">id</th>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">Lastname</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">id</td>
            <td th:text="${vet.firstName}">Anita</td>
            <td th:text="${vet.lastName}">Sharma</td>
        </tr>
        </tbody>
    </table>
</body>
</html>